<div class="card">
    <div data-id="{{id}}">{{title}}</div>
    <img src="{{image}}">
    <button class="save-recipe-to-db" data-id="{{id}}" class="buttoncard is-small is-info is-focused is-rounded">Save To
        My
        Recipes</button>
</div>