<html is-fullhd></html>
<head>
<link rel="stylesheet" href="/css/style.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
<style>
    .columns:nth-child(2) {
        margin-top: -10rem;
    }
</style>
</head>

<header>
    <!-- Main container -->
    <nav class="level">
        <!-- Left side -->
        <div class="level-left">
            <div class="level-item">
            </div>
            <div class="level-item">
                <div class="field has-addons">
                    <p class="control">
                        <input class="input" id="search" type="text" placeholder="Search for Recipes">
                    </p>
                    <p class="control">
                        <button class="button is-link  input is-success" id="search-btn">
                            Search
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <!-- Main container -->
        <nav class="level">
            <!-- Left side -->
            <div class="level-right">
                <div class="level-item">
                </div>
                <div class="level-item">
                    <div class="field has-addons">
                        <p class="control">
                            <a><input class="input" type="text" placeholder="Search For Restaurants"
                                    id="google-search-bar"></a>
                        </p>
                        <p class="control">
                            <a>
                                <button class="button is-link  input is-success" id="search-google-btn">
                                    Search
                                </button>
                            </a>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </nav>
</header>

<body>
    <section class="hero is-info is-medium">
        <div class="hero-body" id="header-pic">
            <div class="container has-text-centered">
                <p class="title" id="main-title" style="color:black" style="background-color: white;">
                    <span><i>To Cook Or Not To Cook </i></span>
                </p>
                <p class="subtitle" style="color: black" style="background-color: white">
                    <span>Trying to decide between opening your fridge and dining out? <br> We've got you
                        covered.</span>
                </p>
            </div>
        </div>
    </section>

    <!-- <Right side -->
    <div class="box cta">
        <div class="level-right">
            <p class="level-item" id="go-to-recipes-button"><a href="/recipe">Your Recipes</a></p>
            <p class="level-item"><a href="#map-holder">Restaurants Near You</a></p>
            <!-- <p class="level-item"><a class="button is-success">New</a></p> -->
            {{#if loggedIn}}
            <div class="dropdown">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>Allergies/Restrictions</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>



                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            <input type="checkbox" id="intolerance1" name="intolerance1" value="dairy">
                            <label for="intolerance1"> Dairy</label>
                        </div>
                        <div class="dropdown-item">
                            <input type="checkbox" id="intolerance2" name="intolerance2" value="egg">
                            <label for="intolerance2"> Egg</label>
                        </div>
                        <div class="dropdown-item">
                            <input type="checkbox" id="intolerance3" name="intolerance3" value="gluten">
                            <label for="intolerance3"> Gluten</label>
                        </div>
                        <div class="dropdown-item">
                            <input type="checkbox" id="intolerance4" name="intolerance4" value="grain">
                            <label for="intolerance4"> Grain</label>
                        </div>
                        <div class="dropdown-item">
                            <input type="checkbox" id="intolerance5" name="intolerance5" value="peanut">
                            <label for="intolerance5"> Peanut</label>
                        </div>
                        <div class="dropdown-item">
                            <input type="checkbox" id="intolerance6" name="intolerance6" value="seafood">
                            <label for="intolerance6"> Seafood</label>
                        </div>
                        <div class="dropdown-item">
                            <input type="checkbox" id="intolerance7" name="intolerance7" value="sesame">
                            <label for="intolerance7"> Sesame</label>
                        </div>
                        <div class="dropdown-item">
                            <input type="checkbox" id="intolerance8" name="intolerance8" value="shellfish">
                            <label for="intolerance8"> Shellfish</label>
                        </div>
                        <div class="dropdown-item">
                            <input type="checkbox" id="intolerance9" name="intolerance9" value="soy">
                            <label for="intolerance9"> Soy</label>
                        </div>
                        <div class="dropdown-item">
                            <input type="checkbox" id="intolerance10" name="intolerance10" value="sulfite">
                            <label for="intolerance10"> Sulfite</label>
                        </div>
                        <div class="dropdown-item">
                            <input type="checkbox" id="intolerance11" name="intolerance11" value="treenut">
                            <label for="intolerance11"> Tree Nut</label>
                        </div>
                        <div class="dropdown-item">
                            <input type="checkbox" id="intolerance12" name="intolerance12" value="wheat">
                            <label for="intolerance12"> Wheat</label>
                        </div>

                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <button class=" button is-success" id="see-recipe-btn">See Recipes</button>
                        </a>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    </div>
    </div>
    <!-- Recipie cards -->
    <container>

        {{#if recipes}}
        {{#each recipes}}
        {{> home-card}}
        {{/each}}
        {{else}}
        <h2>No Recipes Found</h2>
        {{/if}}


    </container>


    <footer class="section" id="map-holder">
        {{> google-map}}
        <div class="container">
            <div class="content has-text-centered">
                <article class="notification media has-background-white">
                    <figure class="media-center">
                    </figure>
                </article>
            </div>
        </div>
    </footer>

    <!--  ===============
    HERE BE MODALS
    ===============  -->
    <!-- 3dFlipVertical card tiny -->
    <!-- end tiny modal card -->
    <!-- Image modal -->
    <div id="modal-image2" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-huge is-image">
            <!-- content -->
            <img src="https://source.unsplash.com/RWnpyGtY1aU" alt="image">
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- Image modal -->
    <div id="modal-image4" class="modal modal-fx-3dSlit">
        <div class="modal-background"></div>
        <div class="modal-content is-huge is-image">
            <!-- content -->
            <img src="https://source.unsplash.com/hLyd1LukQ7E" alt="butterfly">
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- Image modal-->
    <div id="modal-image" class="modal modal-fx-superScaled">
        <div class="modal-background"></div>
        <div class="modal-content  is-image">
            <!-- content -->
            <img src="https://res.cloudinary.com/ameo/image/upload/v1568711475/pexels-photo-1302883_fjje0f.jpg"
                alt="Placeholder image">
            <!--     <img src="https://source.unsplash.com/zFrUz_tNjCY" alt="placeholder">
        -->
            <!-- end content -->
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

</html>