<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
{{!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" rel="stylesheet" /> --}}
<link href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'  rel="stylesheet" />

<html is-fullhd>

<head>
    <section class="hero is-$grey-light is-small">
        <div class="hero-body" id="header-pic">
            <div class="container has-text-centered">
                <p class="title" id="main-title" style="color:black" style="background-color: white;">
                    <span><i>To Cook Or Not To Cook </i></span>
                </p>
            </div>
        </div>
    </section>
</head>


{{!-- <section class="section"> --}}
    {{!-- <div class="container"> --}}
        <div class="columns is-multiline is-centered is-mobile">
            <div class="column is-narrow">


                <div class="member-card">
                    <p class="title">Already a Member?</p>
                    <p class="subtitle">Sign in to continue.</p>

                    <div class="field">
                        <label class="label" for="login-email">Email</label>
                        <div class="control has-icons-left">
                            <input class="input" type="email" placeholder="example@gmail.com" id="login-email">
                            <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                                </input>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="login-password">Password</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" placeholder="Minimum of 8 Characters"
                                id="login-password">
                            <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-link" id="submit-login-btn"=>Welcome Back</button>
                    </div>
                    <div class="control">
                        <input type="checkbox" id="remember-me">
                        <label for="remember-me">Remember me</label>
                    </div>
                </div>
            </div>

            {{!-- ///////////////////////////// --}}


            <div class="column is-narrow">

                <div class="member-card">
                    <p class="title">Create An Account! </p>
                    <p class="subtitle">Please enter all fields.</p>

                    <div class="field">
                        <label class="label" for="new-account-name">Name</label>
                        <div class="control has-icons-left">
                            <input type="text" class="input" placeholder="First & Last Name" id="new-account-name">
                            <span class="icon is-small is-left"><i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>


                    <div class="field">
                        <label class="label" for="new-account-email">Email</label>
                        <div class="control has-icons-left">
                            <input class="input" type="email" placeholder="example#gmail.com" id="new-account-email">
                            <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="new-account-password">Password</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" placeholder="Minimum of 8 Characters"
                                id="new-account-password">
                            <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-link" id="submit-sign-up-btn">Let's Go!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>

</html>