
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">

 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">


<html is-fullhd>
  <head>
    <section class="hero is-$grey-light is-small">
        <div class="hero-body" id="header-pic">
            <div class="container has-text-centered">
                <p class="title" id="main-title" style="color:black" style="background-color: white;">
                    <span><i>To Cook Or Not To Cook  </i></span>
                </p>
            </div>
        </div>
    </section>
  </head>


</head>

<body>

  <!-- START NAV -->
  <nav>
    <div class="container top-bar"></div>
  </nav>

  <!-- END NAV -->
  <div class="container">
    <div class="columns">

      <div class="column is-9" id="recipe-container">
        <section class="hero is-grey-lighter welcome is-small">
          <div class="hero-body2">
            <div class="container">
              <h2 class="title is-size-3">
                Your Recipes
              </h2>
            </div>
          </div>


          {{#each recipes as |recipe index|}}
          {{#if (even_number_recipes index) }}
          {{> new-column}}

          {{else}}
          {{> recipe-card}}
          {{/if}}

          {{/each}}

        </section>

      </div>

       <div class="column is-3 sider">
       <div class ="field">
       <button class="button is-warning is-light is-fullwidth" id="sort-by-favorite-btn">Your Favorites</button>
       <br>
       <button class="button is-success is-light is-fullwidth"id="sort-by-created-btn">Your Recipes</button>
       <br>
       <button class="button is-link is-light is-fullwidth" id="create-new-recipe-btn">Create New Recipe</button>
       <br><br>
       <br><br>
      
       <button class="button is-grey is-light is-fullwidth" id="go-back-button">Go Back</button>
      </div>
      </div>
    </div>

    <div class="footer">
      <button class="fas fa-60x"><i class="fas fa-file-upload fa-3x create-new-recipe-btn"></i></button>
  </div>


  </div>

<script src="https://your-site-or-cdn.com/fontawesome/v5.15.4/js/all.js" data-auto-a11y="true" ></script>
</body>