{{!--
<link rel="stylesheet" href="/css/style3.css"> --}}
<link rel="stylesheet" href="/css/stylesheet-page2.css">

</head>

<body>

  <!-- START NAV -->
  <nav>
    <div class="container top-bar"></div>
  </nav>

  <!-- END NAV -->
  <div class="container">
    <div class="columns">

      <div class="column is-9" id="recipe-container">
        <section class="hero is-info welcome is-small">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Your Recipes
              </h1>
            </div>
          </div>


          {{#each recipes as |recipe index|}}
          {{#if (even_number_recipes index) }}
          {{> new-column}}

          {{else}}
          {{> recipe-card}}
          {{/if}}

          {{/each}}

        </section>

      </div>
      <div class="column is-3 sider">
        <aside class="menu">
          <ul class="menu-list">
            <li><button id="sort-by-favorite-btn"><a>Your favorites</a></button></li>
            <li><button id="sort-by-created-btn"><a>Your Recipes</a></button></li>
            <li><button class="create-new-recipe-btn"><a>Create New Recipe</a></button></li>
            <br></br>
            <br></br>

            <li><button id="go-back-button"><a>Go back</a></button></li>
          </ul>
        </aside>
      </div>
    </div>

    <div class="footer">
      <button class="fa fa-60x"><i class="fa fa-plus fa-6x create-new-recipe-btn"></i></button>
    </div>

  </div>


</body>